<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>TERMS_URL</key>
	<string>$(TERMS_URL)</string>
	<key>PRIVACY_URL</key>
	<string>$(PRIVACY_URL)</string>
	<key>SOURCE_CODE_URL</key>
	<string>$(SOURCE_CODE_URL)</string>
	<key>ONESIGNAL_APP_ID</key>
	<string>$(ONESIGNAL_APP_ID)</string>
	<key>EMAIL_LOGIN_ENABLED</key>
	<string>$(EMAIL_LOGIN_ENABLED)</string>
	<key>GIDClientID</key>
	<string>$(GOOGLE_IOS_CLIENT_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
